@import 'stylesheets/variables.module.scss';
@import 'stylesheets/mixins.module.scss';

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;

  .title {
    @include setFont('HelveticaNeue-Bold', 24px, $black);
  }

  .time-wrapper {
    @include setFont('HelveticaNeue-Bold', 16px, $nav-bar-item);
    display: flex;

    .period-wrapper {
      position: relative;
      cursor: pointer;
      margin-left: 15px;
      user-select: none;

      .period-dropdown {
        position: absolute;
        right: 0;
        top: 25px;
      }
    }

    .icon {
      color: $black;
      margin: 0 3px;
    }
  }
}
