@import 'stylesheets/variables.module.scss';
@import 'stylesheets/mixins.module.scss';

.transaction-and-orders {
  display: flex;

  > div {
    height: 456px;
    flex: 1 1 460px;

    &:nth-child(1) {
      margin-right: 20px;
    }
  }
}

.transaction-content-wrapper {
  margin-top: 30px;

  .website-wrapper {
    display: flex;
    align-items: center;
    padding: 23px 0;
    border-bottom: 1px solid $card-shadow;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border: 0;
    }

    > .icon-wrapper {
      flex: 1 1 20%;
      margin-right: 20px;

      svg {
        min-width: 45px;
        height: 45px;
      }
    }

    > .name-wrapper {
      @include setFont('HelveticaNeue-Medium', 16px, $nav-bar-item);
      flex: 1 1 40%;
      margin-right: 62px;
    }

    > .views-wrapper {
      @include setFont('HelveticaNeue-Medium', 20px, $black);
      flex: 1 1 20%;
      margin-right: 20px;
      text-align: right;
    }

    > .rate-wrapper {
      flex: 1 1 20%;
      position: relative;
      cursor: pointer;
      display: flex;

      &.down {
        color: $card-content-two;
      }

      &.up {
        color: $card-content-one;
      }

      > div:first-child {
        display: flex;
      }

      .tooltip-wrapper {
        position: absolute;
        bottom: 130%;
        transform: translateX(-50%);
        left: 45%;

        &.hidden {
          display: none;
        }

        .views-style {
          white-space: nowrap;
          margin-bottom: 8px;
          
          > :not(.views-count) {
            color: $white;
          }

          .views-count {
            @include setFont('HelveticaNeue-Bold', 20px, inherit);
          }
        }

        .last-week-style {
          @include setFont('HelveticaNeue-Italic', 14px, $nav-bar-item);
          text-align: center;
          white-space: nowrap;
        }
      }

      svg {
        min-width: 18px;
        height: 18px;
        margin-right: 3px;
      }
    }
  }
}

.latest-orders-content-wrapper {
  margin-top: 30px;

  .order-wrapper {
    display: flex;
    padding: 8px 0;
    border-bottom: 1px solid $card-shadow;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }

    > img {
      width: 100px;
      height: 100px;
    }

    .content {
      margin-left: 21px;
      align-self: center;

      .name {
        @include setFont('HelveticaNeue-Bold', 20px, $black);
        margin-bottom: 8px;
      }

      .date,
      .buyer {
        @include setFont('HelveticaNeue', 16px, $nav-bar-item);
        display: flex;
        align-items: center;

        svg {
          min-width: 12px;
          height: 12px;
          margin-right: 7px;
          color: $icon-background;
        }
      }

      .date {
        margin-bottom: 8px;
      }
    }

    .price {
      @include setFont('HelveticaNeue-Bold', 20px, $black);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-left: auto;

      > span {
        font-size: 14px;
      }
    }
  }
}
