@import 'stylesheets/variables.module.scss';
@import 'stylesheets/mixins.module.scss';

.container {
  width: 940px;
  height: 700px;
  border-radius: 4px;
  overflow: scroll;
}

.title-wrapper {
  @include setFont('HelveticaNeue-Bold', 24px, $white);
  width: 100%;
  height: 64px;
  background-color: $black;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .close-icon-wrapper {
    cursor: pointer;
  }
}

.content-wrapper {
  background-color: $white;
  padding: 30px;
  display: flex;

  .left-part {
    flex: 1 1 40%;
    margin-right: 30px;

    .image-upload-wrapper {
      @include setFont('HelveticaNeue-Bold', 16px, $image-upload-text);
      width: 394px;
      height: 115px;
      background-color: $image-upload-bg;
      margin-bottom: 8px;
      padding: 25px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;

      .upload-icon {
        font-size: 35px;
      }

      > input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    .image-wrapper {
      width: 100%;
    }
  }

  .right-part {
    flex: 1 1 50%;

    .title {
      @include setFont('HelveticaNeue-Bold', 16px, $add-product-model-title);
      margin-bottom: 8px;
    }

    .product-description-wrapper {
      margin-bottom: 20px;

      .input-name {
        margin-bottom: 8px;

        > input {
          width: 100%;
          height: 38px;
          padding: 5px 15px;
          box-sizing: border-box;
          outline: none;
          font-size: 16px;
          border: 1px solid $add-product-model-input-border;
          border-radius: 4px;
        }
      }

      > textarea {
        width: 100%;
        height: 172px;
        box-sizing: border-box;
        padding: 5px 15px;
        border: 1px solid $add-product-model-input-border;
        border-radius: 4px;
        outline: none;
        font-size: 16px;
      }
    }

    .price-wrapper {
      margin-bottom: 20px;

      > .inputs-wrapper {
        display: flex;

        > *:first-child {
          margin-right: 50px;
        }
      }
    }

    .specification-wrapper {
      margin-bottom: 30px;

      > .inputs-wrapper {
        display: flex;
        margin-bottom: 10px;

        > *:nth-child(1),
        > *:nth-child(2) {
          margin-right: 15px;
        } 

        > *:nth-child(1) {
          flex: 1 1 30%;
        }

        > *:nth-child(2),
        > *:nth-child(3) {
          flex: 1 1 40%  
        }
      }
    }

    .btn-blocks {
      display: flex;
      justify-content: flex-end;

      > div:nth-child(1) {
        margin-right: 15px;
      }
    }
  }
}