@import 'stylesheets/variables.module.scss';
@import 'stylesheets/mixins.module.scss';

.container {
  max-width: 960px;
  margin: auto;
}

.title-wrapper {
  display: flex;
  margin-bottom: 16px;
  padding-left: 16px;

  .checkbox-wrapper {
    margin-right: 5px;
  }

  .arrow-wrapper,
  .tag-wrapper,
  .edit-wrapper {
    position: relative;

    > svg {
      cursor: pointer;
    }

    .dropdown-wrapper {
      position: absolute;
      top: 120%;
      z-index: 99999;
    }
  }

  .arrow-wrapper {
    margin-right: 20px;
  }

  .edit-wrapper {
    margin-left: auto;
    cursor: pointer;
    user-select: none;

    > span {
      @include setFont('HelveticaNeue-Bold', 14px, $black);
    }

    .dropdown-wrapper {
      position: absolute;
      right: 0;

      .item-wrapper {
        margin-bottom: 20px;
        white-space: nowrap;

        &:last-child {
          margin-bottom: 0;
        }

        > label {
          display: flex;
          cursor: pointer;
          user-select: none;

          > label {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.table-wrapper {
  width: 100%;
}

table {
  width: 100%;
  border-spacing: 0;

  thead {
    background-color: $white;
    white-space: nowrap;

    th {
      padding: 10px;
      text-align: left;
    }
  }

  tbody {
    @include setFont('HelveticaNeue', 14px, $black);
    line-height: 21px;

    tr {
      &:nth-child(even) {
        background-color: $card-shadow;
      }

      .customer {
        display: flex;

        > label {
          margin-right: 5px;
        }
      }

      .add-to-cart,
      .check-out {
        width: 90px;
      }

      .address {
        width: 135px;
      }

      .product-list {
        padding: 5px 0;
        border-bottom: 1px solid $white;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }

        > div:last-child {
          display: flex;
          justify-content: space-between;

          > span:first-child {
            color: $nav-bar-item;
          }
        }
      }

      > td {
        padding: 20px 16px;
        vertical-align: top;
      }
    }
  }
}
