$white: #fff;
$black: #000;
$background: #F2F2F2;
$nav-bar-item: #9B9B9B;
$card-shadow: #EBEBEB;
$card-content-one: #7ED321;
$card-content-two: #D0021B;
$card-content-three: #4A90E2;
$icon-background: #757575;

$btn-paid: #7ED321;
$btn-unpaid: #9B9B9B;
$btn-shipping: #F5A623;
$btn-done: #4A90E2;

$table-tr: #EBEBEB;
