@import 'stylesheets/variables.module.scss';
@import 'stylesheets/mixins.module.scss';

[type="checkbox"] {
  display: none;

  &:checked + i {
    background: url(assets/images/checkmark.svg) no-repeat center $white;
    background-color: $black;
  }
}

i {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid $black;
  border-radius: 2px;
  cursor: pointer;
}