@import 'stylesheets/variables.module.scss';
@import 'stylesheets/mixins.module.scss';

.dialog {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: auto;

  &.show-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($black, .7);
  }
}

