@import 'stylesheets/variables.module.scss';

.container {
  display: flex;

  .checkbox-wrapper {
    margin-right: 5px;
  }

  .arrow-wrapper,
  .tag-wrapper {
    position: relative;
    cursor: pointer;
    user-select: none;

    .dropdown-wrapper {
      position: absolute;
      top: 120%;
    }
  }

  .arrow-wrapper {
    margin-right: 20px;
  }

  .tag-wrapper {
    .tooltip-wrapper {
      color: $white;
      font-size: 8px;
      white-space: nowrap;
      position: absolute;
      left: -220%;
      top: 125%;

      > div {
        padding: 8px;
      }
    }
  }
}